*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #181818;
    color: #f0f0f0;
}

.logo{
    background-color: aquamarine;

}

.hero-img{
    background-image: url('/images/coding4.jpg');
    background-size: cover;
    /* background-position: ; */
    mix-blend-mode: color-dodge;
    height: 100vh;
    max-width: 100%;
}